 body {
        margin: 0;
        min-height: 100vh;
        background: #121212;
        color: #e0e0e0;
        display: grid;
        place-items: center;
        overflow: hidden
      }

      .card {
        background: #1f1f1f;
        border: 3px solid #00FFFF;
        max-width: 500px;
        width: 90%;
        padding: 3rem 2rem;
        border-radius: 1rem;
        text-align: center;
        position: relative;
        overflow: hidden;
        opacity: 0;
        transform: translateY(40px);
        animation: cardAppear .8s .3s cubic-bezier(.34, 1.56, .64, 1) forwards
      }

      .btn-lg {
        opacity: 0;
        z-index: -100;
        transform: translateY(-400px);
        animation: cardAppear .8s .76s cubic-bezier(.34, 1.56, .999, 1) forwards
      }

      .avatar {
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 50%;
        border: 5px solid #195;
        opacity: 0;
        transform: translateY(100px);
        display: block;
        margin: 0 auto 1.5rem;
      }

      .card h3,
      .card p,
      .card a {
        opacity: 0;
        transform: translateY(20px);
      }

      .card.is-animated .avatar {
        animation: fadeUp .6s 1.3s forwards;
      }

      .card.is-animated h3 {
        animation: fadeUp .6s 1.4s forwards;
      }

      .card.is-animated p,
      .card.is-animated a {
        animation: fadeUp .6s 1.3s forwards;
      }

      .card::before {
        content: '';
        position: absolute;
        inset: 0;
        background: linear-gradient(to right, #00FF00, #00FFFF);
        transform: translateY(100%)
      }

      .card.is-animated::before {
        animation: mask 1.6s .1s cubic-bezier(.8, 0, .2, 1) forwards
      }

      @keyframes cardAppear {
        to {
          opacity: 1;
          transform: translateY(0)
        }
      }

      @keyframes fadeUp {
        to {
          opacity: 1;
          transform: translateY(0)
        }
      }

      @keyframes mask {
        0% {
          transform: translateY(100%)
        }

        50% {
          transform: translateY(0)
        }

        100% {
          transform: translateY(-100%)
        }
      }
